body {
  margin: 0%;
  background-color: #d2d2d2;
  padding: 0%;
}

header {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background-color: #000000;
  color: #d2d2d2;
  padding: 10px 0px;
}
main {
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  color: rgb(38, 57, 74);
  background-color: #d2d2d2;
  flex-wrap: wrap;
}

.map-container,
.list-container {
  margin: 5px 0px;
  min-width: 400px;
  /* border: 1px solid cyan; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.map-container {
  width: 30%;
}
.list-container {
  width: 60%;
  height: 100%;
  overflow-y: scroll;
}

#map {
  width: 100%;
  height: 88vh;
}

.list-view {
  height: 100%;
  width: 98%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}

.list {
  padding: 10px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.coordinates,
.gas,
.dht,
.gmap-link {
  width: 24%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px dotted #000;
}

.gmap-link a {
  text-decoration: none;
  color: aliceblue;
  background-color: tomato;
  border-radius: 30px;
  padding: 10px 5px;
}

@media only screen and (max-width: 995px) {
  .map-container {
    height: 45vh;
  }
  .list-container {
    height: 45vh;
  }
}
